body {
  font-family: 'Titillium Web', sans-serif;

  margin-left: 1em;
  margin-top: 1em;
}

#infoport {
  position: absolute;
  top: 3em;
  left: 1em;
  width: 40vw;
  height: 60vh;
  overflow-y: scroll;
  padding: 0 2em 1em 1em;
}

#infoport h1 {
  margin-top: 0;
}

#command {
  color: #888;
}

#line {
  font-family: 'Ubuntu Mono', monospace;
}
