body {
  font-family: 'Lato', sans-serif;
  margin: 1em;
}

.layout {
  display: block;
  float: left;
  height: calc(100vh - 7em);
}

#info {
  width: 50vw;
  border-right: 1px solid #eee;
}

#infoport {
  padding: 0 2em 1em 1em;
}

#infoport h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 18pt;
}

#infoport h1 .area {
  font-weight: bold;
}

#infoport h1 .divider {
  color: #ddd;
}

#infoport .hotspot {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.room-exit {
  color: #643;
}

.room-door {
  color: #436;
}

.room-item {
  color: #464;
}

.room-denizen {
  color: #004;
}

.room-player {
  color: #0aa;
}

#controlbar {
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
}

#buttons {
  list-style-type: none;
  margin-right: 3em;
  display: inline-block;
}

#buttons li {
  border: 1px solid #888;
  border-radius: 5px;
  margin-right: 5px;
  padding: 2px 5px;
  display: inline-block;
}

#player {
  font-size: 16pt;
  font-weight: bold;
  margin-right: 1em;
  display: inline-block;
}

#status {
  color: #777;
  font-size: 10pt;
  display: inline-block;
}

#status .stat {
  color: #000;
  font-weight: bold;
}

#live {
  width: 30vw;
  padding-left: 1em;
}

#stream p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#command {
  color: #888;
  margin-top: 2em;
  height: 2em;
}

#line {
  font-family: 'Ubuntu Mono', monospace;
  margin-left: 1em;
  width: 90%;
}

#line_tip {
  color: #bbb;
  font-style: italic;
}